@font-face { /*for headings and body copy*/
    font-family: 'Helvetica';
    src: url();
}

@font-face { /*for headings and body copy*/
    font-family: 'Bitter', serif;
    src: url('https://fonts.googleapis.com/css2?family=Bitter&family=Oswald&display=swap');
}

@font-face { /*for headers only*/
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}

html, body{
    height: 100%;
    width: 100%
}

body{
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    font-family: 'Helvetica';
    backdrop-filter: blur(4px);
    background-image: url("images/Atterbury Student Success Center_002_2Y3A9508.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    position: absolute;
    height: auto;
    width: 100%;
    max-width: 100%;
    display: block;
}

.nav{
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
    background-color: #0066cc;
}

footer{
    position: sticky;
    top: 90%;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.login{
    width: 400px;
    overflow: hidden;
    margin: auto;
    margin-top: 8%;
    padding: 80px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

h1{
    font-family: "Bitter";
    font-size: 40px;
    text-align: center;
    color:black;
}

#stuID, #stuEmail, #stuPass{
    width: 80%;
    height: 30px;
    padding: 5px 15px;
    padding-left: 45px;
    margin: 10px 0;
    outline: none;
    background-color: whitesmoke;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input[type=text], input[type=password]{
    border: 3px solid whitesmoke;
    border-radius: 3px;
}

input[type=text]:focus, input[type=password]:focus{
    border: 3px solid #5b9cdd;
    border-radius: 3px;
}

.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 45px;
    text-align: left;
}

.inputicon i {
    position: absolute;
}
  
.inputicon {
    width: 100%;
    margin-bottom: 15px;
}
  
.icon {
    padding: 10px;
    padding-top: 24px;
    padding-left: 0px;
    color: grey;
    min-width: 50px;
    text-align: center;
}

#isStudent{
    margin-top: 10px;
    margin-bottom: 10px;
}

#log{
    width: 80%;
    height: 45px;
    color:white;
    background-color: #0066cc;
    border: none;
    margin:auto;
    border-radius: 20px;
    padding-left: 7px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    display:flex;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#log:hover{
    background-color: #004c97;
}

.forgotPass{
    padding-top: 20px;
    float:right;
}
