.footer {
  width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 0 2rem 2rem ;
  border-top: 1px solid #eaeaea;
  border-width: 2px;
  align-items: center;
  background-color:#fff;
  flex-shrink: 0;
}

.footer h3{
  font-size: xx-large;
  font-weight: bold;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: left;
  column-gap: .8rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-self: right;
  row-gap: 1rem;
  margin-right: 5rem;
}